@mixin myFontStyle {
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  font-weight: bold;
}

main > div#mainContent {
  @include myFontStyle;
  font-size: 1.5rem;
  line-height: 2.5rem;
  width: 80%;
  margin: 30px auto 0 auto;
}
