//339CD5

//HEADER
header {
  img#logo {
    width: 40%;
  }

  div {
    button {
      width: 22.5%;
      font-size: 4rem;
      display: none;
    }
  }
}

nav {
  margin-top: 30px;
  ul {
    li {
      line-height: 3.5rem;
      font-size: 2rem;
    }
  }
}
