//GENERIC TIDBITS
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.hidden {
  display: none;
  transition: 0.25s ease;
}
img, //IMAGES_standard
p {
  margin: 0;
  padding: 0;
  float: none;
}

//BODY
body {
  background-color: whitesmoke;
  // // background-color: #282828;
  // background-image: url('../imgs/indexBackground2.jpg');
  // background-position: center; /* Center the image */
  // background-repeat: no-repeat; /* Do not repeat the image */
  // background-size: cover;
  position: relative;
  min-height: 100vh;
  // font-size: 1.5rem;
  position: relative;
}

div#contentWrap {
  padding-bottom: 100px;
}

//HEADER
header {
  color: #f7f052;
  display: flex;
  h1 {
    margin: 0;
    padding: 18px 10px 18px 10px;
    display: flex;
    align-self: center;
    font-size: 2.25rem;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    background-color: red;
  }
  img#logo {
    width: 80%;
    display: flex;
    align-self: center;
    cursor: pointer;
  }

  div#hamburgurButton_holder {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    text-align: center;
  }
  button {
    background-color: whitesmoke;
    // background-color: #282828;
    display: flex;
    align-self: center;
    justify-self: center;
    margin-top: 10px;
    padding: 19px auto 19px auto;
    border: none;
    color: red;
    font-size: 2rem;
  }
  div > button:hover {
    color: orange;
  }
}

//NAV
nav {
  //code
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.25);
    li {
      text-align: center;
      border: 1px solid rgba(0, 0, 0, 0.25);
      font-size: 1rem;
      line-height: 2rem;
      background-color: #f7f052;
      font-family: 'Cormorant Garamond', serif;
      font-style: italic;
      font-weight: 700;
      a:link {
        display: block;
        width: 100%;
        color: black;
        text-decoration: none;
      }
      a:visited {
        text-decoration: underline;
        color: black;
      }
      a:hover {
        background-color: orange;
        color: white;
      }
      a:active {
        background-color: #f7f052;
        color: black;
      }
    }
  }
}

main {
  h1 {
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    color: red;
    margin: 15px 0 0 0;
    padding: 0;
    font-size: 1.75rem;
  }
}
//FOOTER
footer {
  background-color: maroon;
  display: block;
  // min-height: 50px;
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  // clear: both;
  div {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1rem;
    margin-top: 15px;
    padding: 15px 0 15px 10%;
  }
}
