//BODY
body {
  background-color: #282828;
  color: white;
  font-size: 2rem;
}

//HEADER
header {
  background-color: #6a3a9e;
  color: #f7f052;
  h1 {
    margin: 0;
    padding: 15px 0;
    font-size: 2rem;
  }
}
