main {
  margin: 0 auto;
  max-width: 800px;
}

h1 {
  color: orange;
  font-family: Calibri, sans-serif;
}

h1,
p {
  margin: 0;
  padding: 0.5em;
}

#pancakes-header {
  background-color: #fff4f0;
  text-align: center;
}

.pancakes-time {
  font-weight: bold;
}

.top-section {
  display: flex;
  border: 2px solid black;
  background-color: orange;
}
section#pancakes-header {
  width: 100%;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v111/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2)
    format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: flex;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  color: white;
  background-color: orange;
  width: 7%;
  justify-content: center;
  align-items: center;
}

@keyframes adjustSizeAndWiggle {
}

#pancakeVideo {
  width: 100%;
  height: 25vw;
  margin: 0 auto;
  padding: 10px 0;
}

@media screen and (max-width: 900px) {
  /*main {
    width: 60%;
  }*/
  #pancakeVideo {
    height: 40vw;
  }
}

@media screen and (max-width: 500px) {
  /* main {
    width: 75%;
  }*/
  #pancakeVideo {
    height: 50vw;
  }
}
