main > h1 {
  font-size: 2.5rem;
}

main > div#table {
  // background-color: white;
  grid-template-rows: 400px 200px 200px;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;
  margin-bottom: 150px;

  div#FA_holder {
    grid-column: 1/3;
    grid-row: 1;
  }
  div#GL_holder {
    grid-column: 1/2;
    grid-row: 2;
  }
  div#LI_holder {
    grid-column: 2/3;
    grid-row: 2;
  }
  div#C_holder {
    grid-column: 1/2;
    grid-row: 3;
  }
  div#AB_holder {
    grid-column: 2/3;
    grid-row: 3;
  }
}

div#thankYouMessage {
  div {
    top: 25vh;
    p {
      font-size: 3rem;
      line-height: 4rem;
    }
    button {
      font-size: 2rem;
      line-height: 2.5rem;
      width: 60%;
    }
  }
}
