.hidden {
  display: none;
}

main h1,
main h2,
main h3 {
  margin-left: 10%;
}

main > div#table {
  margin: 00px auto 25px auto;
  width: 80%;
  min-height: 500px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 200px 100px 100px 100px 100px;
      grid-template-rows: 200px 100px 100px 100px 100px;
  grid-row-gap: 15px;
}

main > div#table div.object {
  background-color: white;
  position: relative;
  -webkit-box-shadow: 2.5px 2.5px 5px black;
          box-shadow: 2.5px 2.5px 5px black;
  border: 2.5px solid orange;
  font-size: 1.5rem;
}

main > div#table div.object a > img,
main > div#table div.object a {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 1;
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  color: white;
  text-shadow: 1.5px 1.5px black;
}

main > div#table div.object div.label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

main > div#table div.object a:hover div.label {
  top: 75%;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

div#thankYouMessage {
  position: absolute;
  top: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.75);
  height: 100%;
  width: 100%;
}

div#thankYouMessage div {
  position: -webkit-sticky;
  position: sticky;
  top: 15vh;
}

div#thankYouMessage div p {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 2.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-shadow: 0.5px 0.5px maroon;
}

div#thankYouMessage div button {
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  font-weight: bold;
  width: 40%;
  display: block;
  margin: 30px auto 0 auto;
}

@media only screen and (min-width: 760px) {
  main > h1 {
    font-size: 2.5rem;
  }
  main > div#table {
    -ms-grid-rows: 400px 200px 200px;
        grid-template-rows: 400px 200px 200px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
    margin-bottom: 150px;
  }
  main > div#table div#FA_holder {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  main > div#table div#GL_holder {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  main > div#table div#LI_holder {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  main > div#table div#C_holder {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  main > div#table div#AB_holder {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  div#thankYouMessage div {
    top: 25vh;
  }
  div#thankYouMessage div p {
    font-size: 3rem;
    line-height: 4rem;
  }
  div#thankYouMessage div button {
    font-size: 2rem;
    line-height: 2.5rem;
    width: 60%;
  }
}

@media only screen and (min-width: 1200px) {
  main > h1 {
    font-size: 3.5rem;
  }
  main > div#table {
    grid-column-gap: 15px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 33% 33% 34%;
        grid-template-rows: 33% 33% 34%;
    margin: 0px auto 100px auto;
    max-height: 500px;
  }
  main > div#table div#FA_holder {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/4;
  }
  main > div#table div#GL_holder {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  main > div#table div#LI_holder {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  main > div#table div#C_holder {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  main > div#table div#AB_holder {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  div#thankYouMessage div {
    top: 25vh;
  }
  div#thankYouMessage div p {
    font-size: 3rem;
    line-height: 4rem;
    width: 60%;
  }
  div#thankYouMessage div button {
    font-size: 2rem;
    line-height: 2.5rem;
    width: 30%;
  }
}
/*# sourceMappingURL=home.css.map */